body{background-color: #5c4f55;color: white;}
			
	#did{border-color: lightcyan;border-style:solid;border-top: 2px;border-bottom: 2px;  padding-left: 70px; 
		padding-right: 50px; width:1500px;overflow-x: hidden;padding-top: 30px;padding-bottom: 50px;}
		/*设置整体框架，包括宽度，内外边距，边框，颜色等*/
	#title1{height: 70px;background-color: burlywood;border-radius: 20px;padding-left: 2%;padding-right: 2%;}
	.t1{position: relative;top: 10px; border-radius: 90px;color: black;background-color: antiquewhite;width: 55px;height: 50px; font-size: 2.3em;}	
	.t2{position: relative;left: 5%;font-size: 2.3em;bottom: 42px; color: black;}
		input{height: 40px;position: relative;bottom: 7px; border-radius: 60px;background-color: aliceblue;}
	.t3{font-size: 22px;float: right;position: relative;color: black;bottom: 82px;}
	#poss{float: right; width: 25%;position: relative;bottom: 500px;color: aliceblue;}
	/*导航栏内容*/
	#end{margin-left: 500px;}
	/*页脚部分*/
	/*以下为内容*/
	a{color: white;font-family: 宋体;}  h2{color: gainsboro;}
	#title2{position :relative;height: 450px;top:30px}
	.tv1{position :relative;bottom:312px;left: 450px;}.tv2{position :relative;bottom:653px;left: 655px;}
    .tv3{position :relative;bottom:995px;left: 860px;}
	.tv4{position :relative;bottom:1338px;left: 1070px;}.tv5{position: relative;;bottom:1682px;left: 1278px;}
			
	#title3{position :relative;height: 450px;top:40px;}
	.f1{position :relative;bottom:339px;left: 450px;} .f2{position :relative;bottom:670px;left: 653px;}
	.f3{position :relative;bottom:1004px;left: 860px;}.f4{position :relative;bottom:1338px;left: 1065px;}
	.f5{position: relative;bottom: 1682px;left: 1273px;}
			
	#title4{position :relative;height: 450px;top:50px;}
	.z1{position :relative;bottom:315px;left: 445px;}.z2{position :relative;bottom:644px;left: 653px;}
	.z3{position :relative;bottom:974px;left: 860px;}.z4{position :relative;bottom:1305px;left: 1065px;}
	.z5{position: relative;bottom: 1637px;left: 1273px;}
			
	#title5{position :relative;height: 450px;top:60px;}
	.c1{position :relative;bottom:340px;left: 445px;}
	.c2{position :relative;bottom:670px;left: 653px;}
	.c3{position :relative;bottom:1000px;left: 860px;}
	.c4{position :relative;bottom:1330px;left: 1065px;}
	.c5{position: relative;bottom: 1659px;left: 1270px;}